openapi: 3.1.0
info:
  title: ChatGPT → Notion Middleware
  version: 5.3.26
  description: |
    Comprehensive Notion API integration middleware with full CRUD operations.

    ═══════════════════════════════════════════════════════════════════
    QUICK REFERENCE - Choose the right action:
    ═══════════════════════════════════════════════════════════════════

    🔹 CREATE PAGE IN DATABASE (add record/row):
       → Use: notionWrite
       → Required: {"target": "db", "database_id": "..."}
       → This is the MOST COMMON operation

    🔹 ADD/MODIFY COLUMNS in database (change schema structure):
       → Use: notionUpdateDatabaseV5
       → Required: {"database_id": "...", "properties": {...}}
       → This is for DATABASE STRUCTURE, not page data

    🔹 CREATE NEW DATABASE:
       → Use: notionCreateDatabase
       → Required: {"title": "...", "properties": {...}}

    🔹 UPDATE EXISTING PAGE:
       → Use: notionWrite
       → Required: {"target": "update", "page_id": "..."}

    🔹 GET/SEARCH DATA:
       → Use: notionQuery
       → Required: {"mode": "db_query|search|page_get|..."}

    🔹 UPDATE DB (compat - when cached schema rejects `properties`):
       → Use: notionUpdateDatabaseCompat
       → Flexible body: accepts top-level fields, JSON in `content`, or aliases like `add_properties`

    🔹 APPLY PRESET (add known set of columns):
       → Use: notionApplyDatabasePreset
       → Required: {"database_id": "...", "preset": "couchloop_meme_v1"}

    ═══════════════════════════════════════════════════════════════════

    Supports all Notion API 2025-09-03 endpoints including databases, data sources, pages, and blocks.
    Compatible with the latest Notion API architecture separating database metadata from data source schemas.
servers:
  - url: https://api.wheniwas.me
    description: Production API server
paths:
  /chatgpt/notion-write:
    post:
      operationId: notionWrite
      summary: "CREATE PAGES in databases OR update existing pages"
      description: "Create pages in databases (target=db) or update pages (target=update). Send FLAT property values - auto-converts to Notion formats. Proceed without asking for confirmation."
      x-openai-isConsequential: false
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [target]
              additionalProperties: true
              properties:
                target:
                  type: string
                  enum: [db, update, page]
                  description: |
                    REQUIRED. Choose operation type:
                    - "db" = CREATE NEW PAGE IN DATABASE (most common - creates a database record/row)
                    - "update" = UPDATE EXISTING PAGE (modifies an existing database page or regular page)
                    - "page" = CREATE CHILD PAGE UNDER PARENT PAGE (creates a regular page, NOT a database record)

                    ⚠️ IMPORTANT: Only "db" and "update" support schema-aware property conversion.
                    Child pages (target="page") don't have schemas.
                database_id:
                  type: string
                  description: |
                    REQUIRED when target="db". 
                    The database ID where you want to CREATE A NEW PAGE.
                    Example: "39943bcc-9ec1-453e-bc02-41292073bc54"
                database_url:
                  type: string
                  description: "Alternative to database_id: full Notion URL."
                page_id:
                  type: string
                  description: |
                    REQUIRED when target="update" (ID of page to update) OR target="page" (ID of parent page).
                    NOT used when target="db".
                title:
                  type: string
                  description: "Page title. Recommended for new pages."
                request_id:
                  type: string
                  description: "Optional correlation ID; echoed in response for request tracking."
                properties:
                  type: object
                  additionalProperties: true
                  description: |
                    Page property values as SIMPLE FLAT KEY-VALUE PAIRS.

                    ⚡ THE MIDDLEWARE AUTO-CONVERTS TO PROPER NOTION FORMATS:
                    Just send simple values - the server fetches the database schema and converts automatically.

                    Tip: If you also include flat fields at the top-level of the body (outside `properties`),
                    the server will merge any keys that match the database schema into `properties` automatically.
                    Prefer `properties` for clarity, but both are accepted.

                    ✅ CORRECT FORMAT (flat values):
                    {
                      "Email": "user@example.com",
                      "Status": "Active",
                      "Priority": "High",
                      "Count": 42,
                      "Done": true,
                      "Start Date": "2025-10-24",
                      "Tags": ["tag1", "tag2"]
                    }

                    ❌ WRONG FORMAT (nested Notion objects):
                    {
                      "Email": {"email": "user@example.com"},
                      "Status": {"select": {"name": "Active"}}
                    }

                    The middleware handles all Notion property types:
                    - title, rich_text, email, url, phone_number
                    - date (send ISO string), select, multi_select, status
                    - number, checkbox
                    - people: REQUIRES user IDs (not emails) - query for user IDs first or field will be skipped

                    ⚠️ NOTE: Schema conversion only works for database pages (target="db" or target="update").
                    Child pages (target="page") don't have schemas, so use simple string/number values only.

                    Examples: 
                    {"Status": "Active", "Priority": "High", "Email": "customer@example.com", "Count": 42, "Done": true}
                content:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        $ref: "#/components/schemas/BlockInput"
                  description: |
                    Page body content. Can be:
                    - Simple string: "This is my page content"
                    - Array of blocks: [{"type": "paragraph", "text": "Hello"}, {"type": "heading_1", "text": "Title"}]
            x-openai-force-object: true
            examples:
              create_in_database:
                summary: "MOST COMMON: Create new page/record in database"
                description: "This creates a brand new page (record/row) inside the specified database. Properties use FLAT values - middleware auto-converts to Notion formats."
                value:
                  target: "db"
                  database_id: "39943bcc-9ec1-453e-bc02-41292073bc54"
                  title: "New Customer Record"
                  properties:
                    Status: "Active"
                    Priority: "High"
                    Email: "customer@example.com"
                    Count: 42
                    Done: true
                    Start Date: "2025-10-24"
                  content: "Initial notes about this customer"
              update_page:
                summary: "Update properties of existing page"
                description: "Modify property values of a page that already exists. Use FLAT values - middleware fetches schema and converts automatically."
                value:
                  target: "update"
                  page_id: "existing-page-id-here"
                  properties:
                    Status: "Completed"
                    Progress: 100
                    Email: "updated@example.com"
                    Completion Date: "2025-10-24"
                  content: "Added completion notes"
              create_child_page:
                summary: "Create child page under another page (not in database)"
                description: "Creates a page as a child/subpage of another page (not a database record). Child pages don't have database schemas, so properties use simple values without type conversion."
                value:
                  target: "page"
                  page_id: "parent-page-id-here"
                  title: "Child Page Title"
                  content: "Child page content"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  action: 
                    type: string
                  page_id: 
                    type: string
                  url: 
                    type: string
                  request_id:
                    oneOf:
                      - type: string
                      - type: "null"
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /chatgpt/notion-write-compat:
    post:
      operationId: notionWriteCompat
      summary: "CREATE/UPDATE with tolerant body (compatibility)"
      description: |
        Compat endpoint for cached schemas rejecting `properties`. Accepts top-level fields or JSON in `content`. Auto-normalizes and converts using schema. Use when UnrecognizedKwargsError occurs.
      x-openai-isConsequential: false
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: "Flexible body. Supports properties, JSON-in-content, or top-level fields."
              properties:
                target:
                  type: string
                  enum: [db, update, page]
                  description: "Operation type. db=create in database, update=update page, page=create child page."
                database_id:
                  type: string
                  description: "Database ID (required when target=db). Accepts full URL or 32-char ID."
                page_id:
                  type: string
                  description: "Page ID (required when target=update or target=page)."
                title:
                  type: string
                  description: "Page title (optional)."
                request_id:
                  type: string
                  description: "Optional request correlation id; echoed in responses."
                properties:
                  type: object
                  additionalProperties: true
                  description: "Flat key-value pairs for page properties (preferred)."
                content:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        $ref: "#/components/schemas/BlockInput"
                  description: "Either blocks or a JSON string containing properties. JSON is parsed into properties."
              additionalProperties: true
            x-openai-force-object: true
            examples:
              update_with_json_in_content:
                summary: Update using JSON in content
                value:
                  target: "update"
                  page_id: "2970cf20-4ff7-813a-a15e-cf4b64c389ec"
                  content: '{"Status":"Active","Priority":"High","Email":"dev@example.com"}'
              update_with_top_level_fields:
                summary: Update using top-level fields
                value:
                  target: "update"
                  page_id: "2970cf20-4ff7-813a-a15e-cf4b64c389ec"
                  Status: "Active"
                  Priority: "High"
                  Email: "dev@example.com"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  action: 
                    type: string
                  page_id: 
                    type: string
                  url: 
                    type: string
                  request_id:
                    oneOf:
                      - type: string
                      - type: "null"
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /chatgpt/notion-create-database:
    post:
      operationId: notionCreateDatabase
      summary: "CREATE a brand new Notion database"
      description: |
        Create a new database with property definitions (not data). Requires title, properties with "type" fields, and either parent_page_id or workspace=true.
      x-openai-isConsequential: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDatabasePayload"
            x-openai-force-object: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  action: 
                    type: string
                  database_id: 
                    type: string
                  url: 
                    type: string
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /chatgpt/notion-update-database:
    post:
      operationId: notionUpdateDatabaseV5
      summary: "UPDATE DATABASE SCHEMA - Add/modify property columns (NOT page data)"
      description: |
        Modifies database structure by adding property columns. Use this for schema changes, not data updates.
        Requires database_id and properties. Execute immediately - do not ask for confirmation.
      x-openai-isConsequential: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDatabasePayload"
            x-openai-force-object: true
            examples:
              add_multiple_properties:
                summary: Add multiple columns (simplified format - recommended)
                value:
                  database_id: "123e4567-e89b-12d3-a456-426614174000"
                  properties:
                    Task:
                      type: "title"
                    Status:
                      type: "select"
                      options: ["Not Started", "In Progress", "Done"]
                    Owner:
                      type: "people"
                    Due Date:
                      type: "date"
                    Notes:
                      type: "rich_text"
                    Last Updated:
                      type: "last_edited_time"
              add_properties_native_format:
                summary: Add columns (native Notion format - also works)
                description: |
                  This example uses Notion's native API format instead of simplified format.
                  Both formats are automatically detected and handled identically.
                value:
                  database_id: "123e4567-e89b-12d3-a456-426614174000"
                  properties:
                    Company Name:
                      title: {}
                    Revenue:
                      number:
                        format: "dollar"
                    Status:
                      select:
                        options:
                          - name: "Active"
                          - name: "Inactive"
                    Notes:
                      rich_text: {}
                    Monthly Burn:
                      formula:
                        expression: "prop(\"OpEx\") - prop(\"Revenue\")"
              add_relations_and_rollups:
                summary: Add relation and rollup properties (CORRECT FORMAT)
                description: |
                  CRITICAL: Relations use "dual_property": {} or "single_property": {}, NOT "type": "dual_property"
                  Use "data_source_id" (Notion API 2025-09-03), NOT "database_id" (auto-converted if needed)
                  Rollups reference existing relation properties by name.
                value:
                  database_id: "123e4567-e89b-12d3-a456-426614174000"
                  properties:
                    Related Tasks:
                      relation:
                        data_source_id: "target-database-id-here"
                        dual_property: {}
                    Task Count:
                      rollup:
                        relation_property_name: "Related Tasks"
                        rollup_property_name: "Name"
                        function: "count"
                    Total Revenue:
                      rollup:
                        relation_property_name: "Related Tasks"
                        rollup_property_name: "Amount"
                        function: "sum"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  action: 
                    type: string
                  database_id: 
                    type: string
                  url: 
                    type: string
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      operationId: notionUpdateDatabaseV5Patch
      summary: "UPDATE DATABASE SCHEMA (PATCH) - Add/modify property columns"
      description: |
        Same as POST variant. Modifies database structure by adding property columns. Use this for schema changes, not data updates.
        Requires database_id and properties. Execute immediately - do not ask for confirmation.
      x-openai-isConsequential: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDatabasePayload"
            x-openai-force-object: true
            examples:
              add_multiple_properties_patch:
                summary: Add multiple columns via PATCH
                value:
                  database_id: "123e4567-e89b-12d3-a456-426614174000"
                  properties:
                    Task:
                      type: "title"
                    Status:
                      type: "select"
                      options: ["Not Started", "In Progress", "Done"]
                    Owner:
                      type: "people"
                    Due Date:
                      type: "date"
                    Notes:
                      type: "rich_text"
                    Last Updated:
                      type: "last_edited_time"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  action: 
                    type: string
                  database_id: 
                    type: string
                  url: 
                    type: string
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /chatgpt/notion-update-database-compat:
    post:
      operationId: notionUpdateDatabaseCompat
      summary: "UPDATE DATABASE SCHEMA (compat) - Tolerant body for cached Actions schemas"
      description: |
        Tolerant schema update for adding columns when Actions cache rejects 'properties'. Accepts database_id (or URL) and flexible payloads: properties/add_properties, rename/rename_properties, JSON in content, and merges top‑level fields into properties.
      x-openai-isConsequential: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Flexible payload for schema updates when `properties` is rejected by Actions cache.
              properties:
                database_id:
                  type: string
                  description: Database ID or URL
                database_url:
                  type: string
                  description: Alternative to database_id; a full Notion URL
                properties:
                  type: object
                  additionalProperties: true
                  description: Map of property name to definition ({ type, options?, ... })
                add_properties:
                  type: object
                  additionalProperties: true
                  description: Alias for `properties`
                rename:
                  type: object
                  additionalProperties:
                    oneOf:
                      - type: string
                      - type: object
                        properties:
                          name:
                            type: string
                  description: Map of current property name to new name
                rename_properties:
                  type: object
                  additionalProperties: true
                  description: Alias for `rename`
                content:
                  oneOf:
                    - type: string
                      description: "JSON string containing either a { properties: {...} } wrapper or a direct properties map"
                    - type: object
                      description: "Object wrapper; if it has a `properties` field it's unwrapped"
                      additionalProperties: true
              additionalProperties: true
            x-openai-force-object: true
            examples:
              json_in_content:
                summary: Provide properties as JSON string in `content`
                value:
                  database_id: "39943bcc-9ec1-453e-bc02-41292073bc54"
                  content: '{"properties":{"Status":{"type":"select","options":["Todo","Done"]},"Notes":{"type":"rich_text"}}}'
              top_level_fields:
                summary: Provide properties as top-level fields (merged automatically)
                value:
                  database_id: "39943bcc-9ec1-453e-bc02-41292073bc54"
                  Status:
                    type: select
                    options: ["Todo", "In Progress", "Done"]
                  Notes:
                    type: rich_text
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  action: 
                    type: string
                  database_id: 
                    type: string
                  url: 
                    type: string
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
    patch:
      operationId: notionUpdateDatabaseCompatPatch
      summary: "UPDATE DATABASE SCHEMA (compat, PATCH) - Tolerant body for cached Actions schemas"
      description: |
        PATCH variant of the tolerant schema update for adding columns when Actions cache rejects 'properties'. Accepts database_id (or URL) and flexible payloads: properties/add_properties, rename/rename_properties, JSON in content, and merges top‑level fields into properties.
      x-openai-isConsequential: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Flexible payload for schema updates when `properties` is rejected by Actions cache.
              properties:
                database_id:
                  type: string
                  description: Database ID or URL
                database_url:
                  type: string
                  description: Alternative to database_id; a full Notion URL
                properties:
                  type: object
                  additionalProperties: true
                  description: Map of property name to definition ({ type, options?, ... })
                add_properties:
                  type: object
                  additionalProperties: true
                  description: Alias for `properties`
                rename:
                  type: object
                  additionalProperties:
                    oneOf:
                      - type: string
                      - type: object
                        properties:
                          name:
                            type: string
                  description: Map of current property name to new name
                rename_properties:
                  type: object
                  additionalProperties: true
                  description: Alias for `rename`
                content:
                  oneOf:
                    - type: string
                      description: "JSON string containing either a { properties: {...} } wrapper or a direct properties map"
                    - type: object
                      description: "Object wrapper; if it has a `properties` field it's unwrapped"
                      additionalProperties: true
              additionalProperties: true
            x-openai-force-object: true
            examples:
              json_in_content_patch:
                summary: Provide properties JSON via PATCH
                value:
                  database_id: "39943bcc-9ec1-453e-bc02-41292073bc54"
                  content: '{"properties":{"Status":{"type":"select","options":["Todo","Done"]},"Notes":{"type":"rich_text"}}}'
              top_level_fields_patch:
                summary: Provide properties as top-level fields (merged automatically) via PATCH
                value:
                  database_id: "39943bcc-9ec1-453e-bc02-41292073bc54"
                  Status:
                    type: select
                    options: ["Todo", "In Progress", "Done"]
                  Notes:
                    type: rich_text
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  action: 
                    type: string
                  database_id: 
                    type: string
                  url: 
                    type: string
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /chatgpt/notion-query:
    post:
      operationId: notionQuery
      summary: "SEARCH, RETRIEVE, and UPDATE Notion data"
      description: |
        Multi-purpose query/update operation. Common modes: search, db_query, page_get, database_get, data_source_update (rename DB). To rename: use database_id + title (auto-looks up data_source_id). See examples.
      x-openai-isConsequential: false
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/QueryPayload"
            examples:
              search_workspace:
                summary: Search for databases or pages
                value:
                  mode: "search"
                  query: "API Partners"
                  object: "data_source"
              query_database:
                summary: Get all pages from a database
                value:
                  mode: "db_query"
                  database_id: "39943bcc-9ec1-453e-bc02-41292073bc54"
                  page_size: 100
              update_database_title:
                summary: "RENAME DATABASE - Change database title"
                value:
                  mode: "data_source_update"
                  database_id: "cf47f53f-b71d-434f-93d5-8e05a0b144f5"
                  title: "New Database Name"
              get_page:
                summary: Get page content and properties
                value:
                  mode: "page_get"
                  page_id: "23e0cf20-4ff7-8037-bccf-e8d178f77fbe"
              get_page_by_url:
                summary: Get page using full Notion URL
                value:
                  mode: "page_get"
                  page_url: "https://www.notion.so/Finance-Billing-23e0cf204ff781df98e6da67027c95dd?source=copy_link"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  result:
                    oneOf:
                      - type: object
                        properties:
                          mode:
                            type: string
                            enum:
                              [
                                search,
                                db_query,
                                page_get,
                                database_get,
                                data_source_get,
                                data_source_query,
                                data_source_update,
                                block_get,
                                block_children_get,
                                block_children_append,
                                block_update,
                                block_delete,
                                page_property_get,
                                data_source_templates_list,
                              ]
                          results:
                            type: array
                            items:
                              type: object
                              additionalProperties: true
                          has_more: 
                            type: boolean
                          next_cursor:
                            oneOf:
                              - type: string
                              - type: "null"
                      - type: object
                        properties:
                          mode:
                            type: string
                            enum: [page_get, database_get, data_source_get]
                          page: 
                            type: object
                            additionalProperties: true
                          database: 
                            type: object
                            additionalProperties: true
                          data_source:
                            type: object
                            additionalProperties: true
                          result: 
                            type: object
                            additionalProperties: true
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /chatgpt/notion-apply-preset:
    post:
      operationId: notionApplyDatabasePreset
      summary: "APPLY PRESET - Add a predefined set of columns to a database"
      description: |
        Applies a named preset (e.g., "couchloop_meme_v1") that defines a set of properties/columns.
        Useful to avoid crafting large property payloads manually.
      x-openai-isConsequential: true
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                database_id:
                  type: string
                  description: Database ID or full Notion URL
                database_url:
                  type: string
                  description: Alternative to database_id; a full Notion URL
                preset:
                  type: string
                  enum: [couchloop_meme_v1]
                  description: Preset name to apply
              required: [preset]
              oneOf:
                - required: [database_id]
                - required: [database_url]
            examples:
              apply_meme_preset:
                summary: Apply CouchLoop meme preset
                value:
                  database_id: "https://notion.so/your-db-url"
                  preset: "couchloop_meme_v1"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: 
                    type: boolean
                  preset: 
                    type: string
                  action: 
                    type: string
                  database_id: 
                    type: string
                  url: 
                    type: string
        "400":
          description: Invalid payload
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
  /debug/ping:
    get:
      operationId: debugPingGet
      summary: Connectivity and auth presence check (GET)
      description: Returns auth presence flags and basic env info. Does not require auth.
      x-openai-isConsequential: false
      security: []
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PingResponse"
    post:
      operationId: debugPing
      summary: Connectivity and auth presence check
      description: Returns auth presence flags and basic env info. Does not require auth.
      x-openai-isConsequential: false
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PingRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PingResponse"
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        ok:
          type: boolean
          example: false
        error:
          type: string
          description: Error message
        details:
          type: string
          description: Additional error details
        code:
          type: string
          description: Error code
    PingRequest:
      type: object
      properties: {}
      additionalProperties: true
    PingResponse:
      type: object
      properties:
        ok: 
          type: boolean
        method: 
          type: string
        path: 
          type: string
        auth:
          type: object
          properties:
            bearer: 
              type: boolean
        body_keys:
          type: array
          items: 
            type: string
        env:
          type: object
          properties:
            has_notion_token: 
              type: boolean
            has_default_db: 
              type: boolean
            port: 
              type: integer
    BlockInput:
      type: object
      properties:
        type:
          type: string
          enum:
            [
              paragraph,
              heading_1,
              heading_2,
              heading_3,
              bulleted_list_item,
              numbered_list_item,
              to_do,
              quote,
              callout,
              toggle,
              code,
              divider,
            ]
          description: Block type
        text:
          type: string
          description: Text content of the block
        language:
          type: string
          description: Language for code blocks (e.g., "javascript", "python")
      required: [type]
      additionalProperties: false
    QueryPayload:
      type: object
      properties:
        mode:
          type: string
          enum:
            [
              search,
              db_query,
              page_get,
              database_get,
              data_source_get,
              data_source_query,
              data_source_update,
              block_get,
              block_children_get,
              block_children_append,
              block_update,
              block_delete,
              page_property_get,
              data_source_templates_list,
            ]
          description: Operation mode
        # search
        query:
          type: string
          description: Search query string
        object:
          type: string
          enum: [page, database, data_source]
          description: "Filter by object type. Use 'data_source' for databases (API 2025-09-03). 'database' also supported for compatibility."
        # db_query and data_source_query
        database_id:
          type: string
          description: Database identifier
        database_url:
          type: string
          description: Alternative to database_id; accepts full Notion URL (auto-normalized to database_id)
        filter:
          type: object
          additionalProperties: true
          description: Notion filter object for querying
        sorts:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Sort configurations
        page_size:
          type: integer
          minimum: 1
          maximum: 100
          description: Number of results per page
        start_cursor:
          type: string
          description: Pagination cursor
        max_results:
          type: integer
          minimum: 1
          maximum: 500
          description: Maximum results to return
        # page_get and page_property_get
        page_id:
          type: string
          description: Page identifier
        page_url:
          type: string
          description: Alternative to page_id; accepts full Notion page URL (auto-normalized to page_id)
        property_id:
          type: string
          description: Property identifier for page_property_get
        # data_source operations
        data_source_id:
          type: string
          description: Data source identifier
        properties:
          type: object
          additionalProperties: true
          description: Property definitions for data source updates
        title:
          oneOf:
            - type: string
              description: Simple string title (will be auto-converted to Notion rich text)
            - type: array
              description: Notion rich text array format
              items:
                type: object
                additionalProperties: true
          description: Title for database rename or creation
        icon:
          type: object
          additionalProperties: true
          description: Icon configuration object
        in_trash:
          type: boolean
          description: Whether to include trashed items
        parent:
          type: object
          properties:
            database_id:
              type: string
          description: Parent database reference
        result_type:
          type: string
          enum: [page, data_source]
          description: Expected result type
        filter_properties:
          type: array
          items:
            type: string
          description: List of property IDs to include in response
        # block operations
        block_id:
          type: string
          description: Block identifier
        children:
          type: array
          items:
            type: object
            additionalProperties: true
          description: Child blocks to append
        after:
          type: string
          description: Block ID to insert after
        archived:
          type: boolean
          description: Archive status for block updates
        # data_source_templates_list
        name:
          type: string
          description: Template name filter
      required: [mode]
      additionalProperties: false
    CreateDatabasePayload:
      type: object
      properties:
        parent_page_id:
          type: string
          description: The parent page ID under which the database will be created (omit when workspace=true)
        workspace:
          type: boolean
          description: When true, creates the database at the workspace root
        title:
          type: string
          description: The title of the new database
        properties:
          type: object
          description: |
            REQUIRED. Defines the database schema: property names mapped to column definitions.

            ACCEPTS EITHER FORMAT:

            1. SIMPLIFIED FORMAT (recommended):
               Example: {"type": "select", "options": ["Todo", "Done"]}
               Benefits: Cleaner, matches our documentation examples

            2. NATIVE NOTION FORMAT (also supported):
               Example: {"select": {"options": [{"name": "Todo"}, {"name": "Done"}]}}
               Benefits: Can copy directly from Notion API documentation

            The middleware auto-detects and handles both formats identically.
          additionalProperties:
            type: object
            properties:
              type:
                type: string
                enum:
                  [
                    title,
                    rich_text,
                    number,
                    select,
                    multi_select,
                    status,
                    date,
                    checkbox,
                    url,
                    email,
                    phone_number,
                    people,
                    files,
                    formula,
                    relation,
                    rollup,
                    created_time,
                    created_by,
                    last_edited_time,
                    last_edited_by,
                    unique_id,
                  ]
              options:
                type: array
                items: 
                  type: string
                description: Option values for select/multi_select types
              number_format:
                type: string
                description: Format for number properties
              expression:
                type: string
                description: Formula expression
              database_id:
                type: string
                description: Related database ID for relation properties
              relation_type:
                type: string
                enum: [single_property, dual_property, many_to_many]
              synced_property_name:
                type: string
              synced_property_id:
                type: string
              relation_property_name:
                type: string
              relation_property_id:
                type: string
              rollup_property_name:
                type: string
              rollup_property_id:
                type: string
              function:
                type: string
                description: Rollup function
              prefix:
                type: string
                description: Prefix for unique_id
            required: [type]
      required: [title, properties]
      additionalProperties: false
    UpdateDatabasePayload:
      type: object
      properties:
        database_id:
          type: string
          description: Target database to update. Accepts full Notion URL or 32-char ID; the server normalizes to a hyphenated ID.
        database_url:
          type: string
          description: Alternative to database_id; a full Notion URL (server will normalize and use as database_id).
        properties:
          type: object
          description: |
            REQUIRED. Object mapping property names to definitions.

            ACCEPTS EITHER FORMAT:

            1. SIMPLIFIED FORMAT (recommended):
               Example: {"type": "number", "number_format": "dollar"}
               Benefits: Cleaner, easier to read, matches our documentation

            2. NATIVE NOTION FORMAT (also supported):
               Example: {"number": {"format": "dollar"}}
               Benefits: Can copy directly from Notion API docs

            Both formats work identically. The middleware auto-detects and handles both.

            Common property types:
            - title, rich_text, number (with number_format), select (with options array)
            - multi_select, status, date, checkbox, url, email, phone_number
            - people, files, formula (with expression), relation, rollup
            - created_time, created_by, last_edited_time, last_edited_by, unique_id
          additionalProperties:
            oneOf:
              - type: object
                properties:
                  type:
                    type: string
                    enum:
                      [
                        title,
                        rich_text,
                        number,
                        select,
                        multi_select,
                        status,
                        date,
                        checkbox,
                        url,
                        email,
                        phone_number,
                        people,
                        files,
                        formula,
                        relation,
                        rollup,
                        created_time,
                        created_by,
                        last_edited_time,
                        last_edited_by,
                        unique_id,
                      ]
                  options:
                    type: array
                    items: 
                      type: string
                    description: For select/multi_select types - list of option values
                  number_format:
                    type: string
                  expression:
                    type: string
                  database_id:
                    type: string
                  relation_type:
                    type: string
                    enum: [single_property, dual_property, many_to_many]
                  synced_property_name:
                    type: string
                  synced_property_id:
                    type: string
                  relation_property_name:
                    type: string
                  relation_property_id:
                    type: string
                  rollup_property_name:
                    type: string
                  rollup_property_id:
                    type: string
                  function:
                    type: string
                  prefix:
                    type: string
                  relation:
                    type: object
                    description: Nested relation definition
                    properties:
                      database_id:
                        type: string
                      relation_type:
                        type: string
                        enum: [single_property, dual_property, many_to_many]
                required: [type]
              - type: object
                properties:
                  raw:
                    type: object
                    additionalProperties: true
                    description: Raw Notion property object
        rename:
          type: object
          description: Map of current property name to new name (renames existing columns)
          additionalProperties:
            oneOf:
              - type: string
              - type: object
                properties:
                  name:
                    type: string
      required: [properties]
      oneOf:
        - required: [database_id]
        - required: [database_url]
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "Bearer token authentication. Provide your API token in the Authorization header."
